/* body */
html{
    scroll-behavior: smooth;
}

/* endBody */

/* navbar v1 */
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #151516;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    scroll-behavior: smooth;
}

.navbar a{
    text-decoration: none;
    color: #CCC;
}

.logo{
    margin-right: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler, .navbar label{
    display: none;
}


/* Responsive */
@media only screen and (max-width: 600px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        color: white;
    }

    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}


/* navbar v2 */
.container {
    background-color: #151516;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

.container h2{
    margin-top: 50px;
}

.loader{
    width: 110px;
    height: 110px;
    border-left: 5px solid #ff006e;
    border-radius: 50%;
    animation: rightrotate 900ms linear infinite;
    margin-right: auto;
    margin-left: auto;
}

.loader::before, .loader::after{
    content: ' ';
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border-right: 4px solid #3ab6ff;
    border-radius: 50%;
    animation: leftrotate 900ms linear infinite;
}

.loader::after{
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border: 0;
    border-left: 3px solid #ffbe0b;
    animation: none;
}

@keyframes leftrotate{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes rightrotate{
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}